<div class="table-container">
  <h1 class="text-center">
    Welcome to {{ title }}!
  </h1>
  <table class="text-center">
    <thead>
      <tr>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Age
        </th>
        <th>
          Designation
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList">
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.age}}</td>
        <td>{{employee.designation}}</td>
      </tr>
    </tbody>
  </table>
</div>

